<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flapper News</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-ui-router.js"></script>
	<script src="/javascripts/angularApp.js"></script>
	<style type="text/css">
		.glyphicon-thumbs-up { cursor: pointer; } 
	</style>
</head>
<body ng-app="flapperNews">
	<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    	<ul class="nav navbar-nav">
      		<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      		<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      		<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      		<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    	</ul>
  	</nav>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ui-view></ui-view>
		</div>
	</div>
</body>
</html>